*.csv
*.yaml
*.pyc
lightning_logs/*
checkpoints/*
*.png
*.ckpt
*.pth
*.txt
train_dataset.npy
*.npy
mapping_gan.pt
AdversarialDiscriminatorOutputs/*
Forecast_outputs2/*
GAN_A_adjprc/*
*.json
*.pt
*.pptx
*Forecast_outputs*/*